body, html{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    min-width: 100%;
}

/*Top nav css, i kinda broke the bootstrap (nobody cried)*/
nav.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
}

/*Left Nav, name highlights deoending on section*/
#leftNav ul {
	list-style: none;
	padding: 10vh 0;
	text-align: center;
}

#leftNav ul li a {
	color: #949494;
    font-size: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

#leftNav ul li a.active {
    color: #ffffff;
}

#bar {
    z-index: 1;
	position: fixed;
	width: 150px;
	height: 100vh;
	background-color: rosybrown;
}

/*Css for each of the individual games, sections are identical but backgroup differs*/
section{
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
position: relative;
z-index: 2;
max-width: 80%;
}

.learn-more{
margin-top: 20px;
}

.bg{
background-size: cover;
background-position: center;
background-attachment: fixed;
}

#btd1{ 
background: url(/images/Bloons_TD_iOS_Logo.jpg) center no-repeat fixed;
}

#btd2{ 
background: url(/images/bt2Placeholder.jpg) center no-repeat fixed; 
}

#btd3{ 
background: url(/images/bt3Placeholder.jpg) center no-repeat fixed; 
}

#btd4{ 
background: url(/images/bt4Placeholder.jpg) center no-repeat fixed; 
}

#btd5{ 
background: url(/images/bt5Placeholder.jpg) center no-repeat fixed; 
}

#btd6{ 
background: url(/images/bt6Placeholder.jpg) center no-repeat fixed; 
}