body, html{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    min-width: 100%;
}

/*Top nav css, i kinda broke the bootstrap (nobody cried)*/
nav.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
}

/*Left Nav, name highlights deoending on section*/
#leftNav ul {
	list-style: none;
	padding: 10vh 0;
	text-align: center;
}

#leftNav ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}

#leftNav ul li a {
	color: #F9F9F9;
    font-size: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: 100;
}

#leftNav ul li a.active {
    color: #FFD700;
}

#bar {
    z-index: 1;
	position: fixed;
	width: 150px;
	height: 100vh;
	background-color: #00AEEF;
}

/*Css for each of the individual games, sections are identical but backgroup differs*/
section{
    height: 100vh;
    color: white;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 150px;
}

.infoBox {
    position: relative;
    z-index: 2;
    background-color: rgba(125, 176, 68, 0.7);
    padding: 20px;
    padding-top: 10%;
    height: 100vh;
    max-width: 500px;
    color: white;
    border-left: 5px solid #FFD700;
    font-size: 18px;
    text-align: left;
}

.CityLogo{
    width: 100%;
    height: 25vh;
    margin-bottom: 4vh;
}

.Battles2Logo{
    width: 120%;
    height: 25vh;
    margin-bottom: 4vh;
}

.BattlesLogo{
    width: 100%;
    height: 30vh;
    margin-bottom: 4vh;
}

.AdventureLogo{
    width: 80%;
    height: 50vh;
    margin-bottom: 4vh;
}

.content{
    position: relative;
    z-index: 2;
    max-width: 80%;
}

.learn-more{
    margin-top: 20px;
}

.bg{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#Bloons_TD_Battles{ 
    background: url(../images/BattlesMap.png) right bottom no-repeat fixed;
    background-size: cover;
}

#Bloons_Monkey_City{ 
    background: url(../images/CityMap.png) right bottom no-repeat fixed; 
    background-size: cover;
}

#Bloons_Adventure_Time_TD{ 
    background: url(../images/AdventureTimeMap.png) right bottom no-repeat fixed;
    background-size: cover;
}

#Bloons_TD_Battles_2{ 
    background: url(../images/Battles2Map.png) right bottom no-repeat fixed;
    background-size: cover;
}

.modal-content{
    color: white;

}

.modal-body{
    color: white;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
