

:root {
    --wood-background: #c1995e;
    --sunken-wood-background: #966338;
    --sunken-wood-border: #8b5b2f;
    --button-green: #74e802;
    --text-offwhite: #fef9fc;
    --bs-navbar-active-color: var(--text-offwhite); /* this is a bootstrap variable so this doesnt actually work :( */
    --text-outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* hack to get outlined text */
}

nav {
    font-family: "Luckiest Guy", regular;
    font-weight: 400;
    font-style: normal;
    background-color: var(--wood-background);
    color: var(--text-offwhite);
    border-bottom-style: outset;
    border-color: var(--sunken-wood-border);
}

.nav-link {
    color: var(--text-offwhite);
    background-color: var(--sunken-wood-background);
    padding: 5px;
    border-style: inset;
    border-width: 2px;
    border-color: var(--sunken-wood-border);
    border-radius: 5px;
    margin: 0 5px 0 5px;
    text-shadow: var(--text-outline)
}

.nav-link:hover {
    color:var(--text-offwhite);
}

.dropdown-menu {
    background-color: var(--wood-background);
    border-style: outset;
    border-color: var(--sunken-wood-border);
    border-width: 2px;
}

.dropdown-item {
    color: var(--text-offwhite);
    text-shadow: var(--text-outline);
    padding: 4px 16px 4px 16px;
}

.dropdown-item:hover {
    color: var(--text-offwhite);
    background-color: var(--sunken-wood-background);
    border-style: inset;
    border-color: var(--sunken-wood-border);
    border-width: 2px;
    padding: 2px 14px 2px 14px;
}

.main-header {
    font-family: 'Luckiest Guy';
}